html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family:Poppins;
    

}
.slider{
    position:relative;
    overflow: hidden;
    width:70%;

}
.image{
    display:flex;
    width: 100%;
}
.image img{
    width: 100%;
    height:500px;
    transition:all 1s ease;
}
.image input{
    display: none;
}
.button{
    margin:5px;
    justify-content: center;
    display:flex;
}
.button label{
height:   15px;
width:30px;
border-radius: 20px;
border:solid rgb(2,217,256);
margin:5px;transition: all 0.5s ease;
}
.button label:hover{
    background: white;
    border:solid rgb(255,0,0);

}
#laptop:checked~.d5{
    margin-left:0%;
}
#tab:checked~.d5{
    margin-left:-100%;
}
#apple:checked~.d5{
    margin-left:-200%;
}
h1{
    font-size: 50px;
    font-family:Audiowide;
}
p{
    font-size: 24px;
    line-height: 50px;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D4D7DE;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    color:red;
}
img{
    width: 20%;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
a:hover{
    color: #000;
}
.banner-area{
    position: relative;
    background-image: url(img.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-area, .port-area, .service-area, .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.text-part{
    width: 85%;
    height: 80%;
    margin-left: 35px;
}        
.about-area{
    background-color: black;
}
.port-area{
    background-image: url("open.jpg");
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-area{
    background-color:crimson;
    

}
.contact-area{
    background-color: #262626;
    color: #fff;
}
blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 2s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/*for artwork*/
.box{
 width: 200px;
 float: left;
 padding: 7px;
 padding-left: 10px;  
 display: block;


}

img{
 width: 100%;
    border-radius: 4px;
    height:250px;

}

img:hover{
  transform: scale(1.3,1.3);
  transition: .3s transform;

}
.column {
  float: left;
  width: 300px;
  padding: 0 10px;
  margin-left: 25px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.card:hover{
   transform: scale(1.3,1.3);
  transition: .3s transform; 
}
/*glowing*/
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* for contact*/
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }
@media screen and (max-width: 600px) {
      .box {
         width: 80%;
         align-items: center;
         margin-left: 15px;
      }
   }